/* #contact{
    width:98%;
    margin-top:10%;
}
.contact__line{
    width:100%;
    height:1px;
    background:rgb(155, 152, 152);
   margin-top:2%;
}
.contact__container>div>p{
    color:rgb(148, 137, 137);
    font-size:25px;
    margin-left:5%;
    margin-top:-0%;
}
.contact__container{
    width:70%;
    height:300px;
    border:5px sloid red;
    margin-left:15%;
    margin-top:10%;
    } */
/*
@media screen and (max-width:1000px){
    #contact{
        margin-top:160%;
    }
}
@media screen and (max-width:420px){
    #contact{
        margin-top:114rem;
    }
}
@media screen and (max-width:360px){
    #contact{
        margin-top:290%;
    }
} */
/* @media screen and (max-width:680px){
    #contact{
        margin-top:240%;
    }
    .c__bottom{
        font-size:25px;
    }
    .contact__container>div>p{
       display:none;
    }
    .contact__container{
        width:40%;
        margin-left:5%;
        display: flex;
    }
} */
/* .contact__name{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 35px;
    color:var(--color-bg1);
    margin-top:5%;
}


.c__bottom{
    font-size: 35px;
    color:var(--color-bg1);
    margin-left:8%;

}
.contact__container>div{
margin-top:5%;
display:flex;

} */
#contact{
    width:100%;
}

.viewmore{
    background:var(--color-bg1);
    border:none;
    margin-left:45%;
    margin-top:3%;
    width: 120px;height:40px;
    border-radius: 1.7rem;
    font-size:18px;
}
.contact__line{
    width:100%;
    height:1px;
    background:rgb(155, 152, 152);
   margin-top:2%;
}
.contact__name{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 35px;
    color:var(--color-bg1);
    margin-top:5%;
    width:50%;
    margin-left:10%;
}
.contact__container{
    width:70%;
    height:300px;
    margin-left:15%;
    margin-top:7%;
    }
    
.c__bottom{
    font-size: 35px;
    color:var(--color-bg1);
    margin-left:8%;

}
.contact__container>div{
    margin-top:5%;
    display:flex;
    
    }
    .contact__container>div>p{
        color:rgb(148, 137, 137);
        font-size:25px;
        margin-left:5%;
        margin-top:-0%;
    }

    /*-------form----------*/

    .contact__form{
        width:40%;
        margin-left:16%;
        margin-top:4%;
    }
    form>input{
        width:100%;
        height:40px;
        margin-top:2%;
        border:2px solid var(--color-bg1);
        background:transparent;
        color:rgb(187, 181, 181);
        font-size:20px;
        border-radius:8px;

    }
    form>input:nth-child(3){
        height:120px;
        
    }
    form>input:nth-child(4){
        width:30%;
        margin-top:5%;
        background: var(--color-bg1);
        color:var(--color-bg2);
        font-weight:bold;
    }
    form>input:nth-child(4):hover{
        cursor:pointer;
    }

    .contact__socials{
        width:100%;
        height:50vh;
        background:var(--color-bg1);
        text-align:center;

    }
    .contact__footersocials{
        font-size:30px;
        margin-top: 7%;
        background:var(--color-bg1);
        color:black;
       
    }
    .contact__socials>a:nth-child(2){
        margin-left:8%;
    }
    .contact__socials>a:nth-child(3){
        margin-left:8%;
    }
    .contact__socials>a:nth-child(4){
        margin-left:8%;
    }
    
    .contact__socials>a{
        background:transparent;
    }

    @media screen and (max-width:1024px){
        #contact{
            margin-top:170%;
        }
        .contact__form{
            width:80%;
          margin-left:10%;
        }
        .contact__socials{
            height:30vh;
        }
    }
    @media screen and (max-width:420px){
        #contact{
            margin-top:250%;
        }
        .contact__container>div>p{
            font-size:16px;
        }
        .c__bottom{
            margin-left:-5%;
        }
        .contact__form{
            width:80%;
          margin-left:10%;
          
        }
        .contact__socials{
            height:30vh;
        }
       
        
       .viewmore{
           margin-left:35%;
       }
       
    }

